# The shaderc dependencies are already installed on the base images
# so we dont need to worry about installing them.
dist: xenial
os:
  - linux
  - osx
  #- windows # Waiting on https://travis-ci.community/t/timeout-before-install-step/1502/3
language: rust
rust:
  - nightly
  - stable
cache:
  cargo

script:
  - git diff-tree --check $(git hash-object -t tree /dev/null) HEAD
  - travis_wait cargo test --all -j 2
  - cd examples
  - cargo build -j 2
  - cd .. # this is very important or else the below `cargo publish` will fail

after_success:
  - |
    [ $TRAVIS_BRANCH = master ] &&
    [ $TRAVIS_PULL_REQUEST = false ] &&
    [ $TRAVIS_OS_NAME = linux ] &&
    cargo publish --token ${CRATESIO_TOKEN} --manifest-path vk-sys/Cargo.toml
  - |
    [ $TRAVIS_BRANCH = master ] &&
    [ $TRAVIS_PULL_REQUEST = false ] &&
    [ $TRAVIS_OS_NAME = linux ] &&
    cargo publish --token ${CRATESIO_TOKEN} --manifest-path vulkano/Cargo.toml
  - |
    [ $TRAVIS_BRANCH = master ] &&
    [ $TRAVIS_PULL_REQUEST = false ] &&
    [ $TRAVIS_OS_NAME = linux ] &&
    cargo publish --token ${CRATESIO_TOKEN} --manifest-path vulkano-win/Cargo.toml
  - |
    [ $TRAVIS_BRANCH = master ] &&
    [ $TRAVIS_PULL_REQUEST = false ] &&
    [ $TRAVIS_OS_NAME = linux ] &&
    cargo publish --token ${CRATESIO_TOKEN} --manifest-path vulkano-shaders/Cargo.toml
