[workspace]
members = [
    "vulkano",
    "vulkano-macros",
    "vulkano-shaders",
    "vulkano-util",
    "vulkano-win",
]
resolver = "2"

[workspace.dependencies.vulkano]
version = "0.34"
path = "vulkano"
default-features = false

[workspace.dependencies.vulkano-macros]
version = "0.34"
path = "vulkano-macros"

[workspace.dependencies.vulkano-shaders]
version = "0.34"
path = "vulkano-shaders"

[workspace.dependencies.vulkano-util]
version = "0.34"
path = "vulkano-util"

[workspace.dependencies]
ahash = "0.8"
# When updating Ash, also update vk.xml to the same Vulkan patch version that Ash uses.
# All versions of vk.xml can be found at:
# https://github.com/KhronosGroup/Vulkan-Headers/commits/main/registry/vk.xml
ash = "0.37.3"
bytemuck = "1.9"
cgmath = "0.18"
core-graphics-types = "0.1"
crossbeam-queue = "0.3"
half = "2.0"
heck = "0.4"
indexmap = "2.0"
libloading = "0.8"
objc = "0.2.5"
once_cell = "1.17"
nalgebra = "0.32"
parking_lot = "0.12"
proc-macro2 = "1.0"
proc-macro-crate = "1.0"
quote = "1.0"
raw-window-handle = "0.6"
regex = "1.8"
serde = "1.0"
serde_json = "1.0"
shaderc = "0.8"
smallvec = "1.8"
syn = "2.0"
thread_local = "1.1"
vk-parse = "0.12"
winit = "0.29"
