[package]
name = "vulkano-win"
version = "0.27.0"
edition = "2018"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>", "The vulkano contributors"]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Link between vulkano and winit"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/vulkano"
homepage = "https://vulkano.rs"
keywords = ["vulkan", "bindings", "graphics", "gpu", "rendering"]
categories = ["rendering::graphics-api"]

[features]
default = ["winit_", "raw-window-handle_"]
winit_ = ["winit", "metal", "cocoa", "objc"]
raw-window-handle_ = ["raw-window-handle"]

[dependencies]
winit = { version = "0.25", optional = true }
vulkano = { version = "0.27.0", path = "../vulkano" }
raw-window-handle = { version = "0.3.3", optional = true }

[target.'cfg(target_os = "macos")'.dependencies]
metal = { version = "0.18.0", optional = true }
cocoa = { version = "0.20.0", optional = true }
objc = { version = "0.2.7", optional = true }
