[package]
name = "vulkano-win"
version = "0.18.1"
edition = "2018"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>", "The vulkano contributors"]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Link between vulkano and winit"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/vulkano"
homepage = "https://vulkano.rs"
keywords = ["vulkan", "bindings", "graphics", "gpu", "rendering"]
categories = ["rendering::graphics-api"]

[dependencies]
winit = "0.22"
vulkano = { version = "0.18.1", path = "../vulkano" }

[target.'cfg(target_os = "macos")'.dependencies]
metal = "0.18.0"
cocoa = "0.20.0"
objc = "0.2.7"
