[package]
name = "vulkano-shaders"
version = "0.8.0"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>", "The vulkano contributors"]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Shaders "
license = "MIT/Apache-2.0"
documentation = "http://tomaka.github.io/vulkano/vulkano/index.html"
categories = ["rendering::graphics-api"]

[dependencies]
glsl-to-spirv = { version = "0.1.2", path = "../glsl-to-spirv" }
