[package]
name = "vulkano-shaders"
version = "0.25.0"
edition = "2018"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>", "The vulkano contributors"]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Shaders rust code generation macro"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/vulkano"
homepage = "https://vulkano.rs"
keywords = ["vulkan", "bindings", "graphics", "gpu", "rendering"]
categories = ["rendering::graphics-api"]

[lib]
proc-macro = true

[dependencies]
num-traits = "0.2"
proc-macro2 = "1.0"
quote = "1.0"
shaderc = "0.7"
spirv_headers = "1.5"
syn = { version="1.0", features=["full", "extra-traits"] }

[dev-dependencies]
vulkano = { version="0.25.0", path="../vulkano" }

[features]
shaderc-build-from-source = ["shaderc/build-from-source"]
