[package]
name = "vulkano-macros"
version = "0.32.0"
edition = "2021"
authors = [
    "Pierre Krieger <pierre.krieger1708@gmail.com>",
    "The vulkano contributors",
]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Macros used by Vulkano"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/vulkano"
homepage = "https://vulkano.rs"
publish = false

[lib]
proc-macro = true

[dependencies]
syn = "1.0"
quote = "1.0"
proc-macro2 = "1.0"
proc-macro-crate = "1.2"

[dev-dependencies]
vulkano = { path = ".." }
