[package]
name = "vulkano"
version = "0.9.0"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>", "The vulkano contributors"]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Safe wrapper for the Vulkan graphics API"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/vulkano"
readme = "../README.md"
categories = ["rendering::graphics-api"]
build = "build.rs"

[dependencies]
crossbeam = "0.3.0"
fnv = "1.0.6"
shared_library = "0.1.7"
smallvec = "0.6.0"
lazy_static = "1"
vk-sys = { version = "0.3.3", path = "../vk-sys" }
half = "1"
