[package]
name = "vulkano"
version = "0.33.0"
edition = "2021"
authors = [
    "Pierre Krieger <pierre.krieger1708@gmail.com>",
    "The vulkano contributors",
]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Safe wrapper for the Vulkan graphics API"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/vulkano"
homepage = "https://vulkano.rs"
keywords = ["vulkan", "bindings", "graphics", "gpu", "rendering"]
categories = ["rendering::graphics-api"]
readme = "../README.md"
build = "build.rs"

[dependencies]
ahash = "0.8"
# When updating Ash, also update vk.xml to the same Vulkan patch version that Ash uses.
# All versions of vk.xml can be found at https://github.com/KhronosGroup/Vulkan-Headers/commits/main/registry/vk.xml.
ash = "^0.37.2"
bytemuck = { version = "1.9", features = ["min_const_generics"] }
crossbeam-queue = "0.3"
half = { version = "2", features = ["bytemuck"] }
libloading = "0.7"
once_cell = "1.17"
parking_lot = { version = "0.12", features = ["send_guard"] }
raw-window-handle = "0.5"
serde = { version = "1.0", optional = true }
smallvec = "1.8"
thread_local = "1.1"
vulkano-macros = { path = "../vulkano-macros", version = "0.33.0", optional = true }

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
objc = "0.2.5"
core-graphics-types = "0.1"

[build-dependencies]
ahash = "0.8"
heck = "0.4"
indexmap = "1.8"
once_cell = "1.16"
proc-macro2 = "1.0"
quote = "1.0"
regex = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
vk-parse = "0.8"

[dev-dependencies]
cgmath = "0.18"
nalgebra = "0.32"

[features]
default = ["macros"]
macros = ["vulkano-macros"]
document_unchecked = []
