[package]
name = "vulkano"
version = "0.29.0"
edition = "2021"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>", "The vulkano contributors"]
repository = "https://github.com/vulkano-rs/vulkano"
description = "Safe wrapper for the Vulkan graphics API"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/vulkano"
homepage = "https://vulkano.rs"
keywords = ["vulkan", "bindings", "graphics", "gpu", "rendering"]
categories = ["rendering::graphics-api"]
readme = "../README.md"
build = "build.rs"

[dependencies]
# When updating Ash, also update vk.xml to the same Vulkan patch version that Ash uses.
# All versions of vk.xml can be found at https://github.com/KhronosGroup/Vulkan-Headers/commits/main/registry/vk.xml.
ash = { version = "0.36", default_features = false, features = ["debug"] }
bytemuck = { version = "1.7", features = ["derive", "extern_crate_std", "min_const_generics"] }
crossbeam-queue = "0.3"
half = "1.8"
lazy_static = "1.4"
nalgebra = { version = "0.30.0", optional = true }
parking_lot = { version = "0.12", features = ["send_guard"] }
rangemap = { git = "https://github.com/vulkano-rs/rangemap", branch = "range-split" }
smallvec = "1.8"

[build-dependencies]
heck = "0.4"
indexmap = "1.8"
lazy_static = "1.4"
proc-macro2 = "1.0"
quote = "1.0"
regex = "1.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
vk-parse = "0.7"


[features]
default = ["loaded"]
# Link the Vulkan loader at compile time.
linked = ["ash/linked"]
# Support searching for the Vulkan loader manually at runtime.
loaded = ["ash/loaded"]
